html, body {
    height: 100%;
}

.content-wrap {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 10rem 4rem 10rem;
    margin-bottom: 20px;
}

p {
    margin: 2px 0;
}
.button-group > form {
    margin-bottom: 3px;
}

.error-message {
    color: red
}

.a-container {
    padding-bottom: 20px;
}

.a-container a {
    color:white;
    font-size: 18px;
}

.mb-3 label {
    color:black;
}
