<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Stock App</title>
    <style>
         body {
<!--            background-image: url(/images/foto_ai_2.jpg);-->
<!--            background-color: #285b96;-->
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>


<div class="content-wrap" style="background-color: #285b96;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form">
                    <h2 class="text-center mb-4" style="padding-bottom:20px;">Welcome</h2>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>