<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>My Stock App</title>
    <link th:href="@{/css/nicepage.css}" th:rel="stylesheet" media="screen">
    <link th:href="@{/css/577-2.css}" th:rel="stylesheet" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#81c132">
    <meta property="og:title" content="Index template">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <style>
        .u-section-1 {
            background-image: url("../images/index_photo.jpg");
            background-position: 50% 50%;
            }
    </style>
</head>


<body class="u-body u-xl-mode" data-lang="en">

<section class="u-clearfix u-image u-section-1" id="sec-01a5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h3 class="u-text u-text-1">With love</h3>
            </div>
        </div>
        <div class="u-black u-container-style u-group u-group-2">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h1 class="u-custom-font u-font-montserrat u-text u-text-2">for beauty</h1>
            </div>
        </div>
        <a th:href="@{/menu}"
           class="u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1"><span
                class="u-icon">
            <svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px"
                 style="width: 1em; height: 1em;"><path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M45.563,30.826l-22,15
	C23.394,45.941,23.197,46,23,46c-0.16,0-0.321-0.038-0.467-0.116C22.205,45.711,22,45.371,22,45V15c0-0.371,0.205-0.711,0.533-0.884
	c0.328-0.174,0.724-0.15,1.031,0.058l22,15C45.836,29.36,46,29.669,46,30S45.836,30.64,45.563,30.826z"></path></svg></span>&nbsp;ACCESEAZĂ
        </a>
    </div>
</section>




</body>
</html>